.navbar {
  background-color: rgb(248, 249, 250);
}

.name {
  margin-left: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  color: rgb(0, 195, 99);
  letter-spacing: 1px;
}
